<div class="container d-flex justify-content-center">

  <form action="/" method="get">
      <h3 for="">URL Shortener</h3>

      <input class="form-control mb-3" id="url-input" type="text"  name="input">

      <button class="btn btn-primary">Shorten</button> 
  </form>

</div>
